<div id="mini-calendar" class="p4">
    <div class="grid grid-cols-7 gap-2">
        <div class="font-bold">01</div>
        <div class="font-bold">02</div>
        <div class="font-bold">03</div>
        <div class="font-bold">04</div>
    </div>
</div>