<%# Vertical Nav Bar %>
<div class="mx-auto flex flex-wrap">
    <div class="h-screen p-2 w-64">
        <div class="w-full h-full py-4 px-2 text-gray-500 bg-gray-900 rounded-lg text-left font-medium capitalize shadow-lg">
            <div class="cursor-pointer w-8 h-8 mx-auto mb-5">Logo</div>
            <span class="cursor-pointer px-2 py-1 hover:bg-gray-800 hover:text-gray-300 rounded block mb-5">
                <i class="ri-calendar-2-line"></i>
                <span class="mx-2">main calendar</span>
            </span>
            <span class="cursor-pointer px-2 py-1 hover:bg-gray-800 hover:text-gray-300 rounded block mb-5">
                <i class="ri-calendar-2-line"></i>
                <span class="mx-2">social calendar</span>
            </span>
            <span class="cursor-pointer px-2 py-1 hover:bg-gray-800 hover:text-gray-300 rounded block mb-5">
                <i class="ri-calendar-2-line"></i>
                <span class="mx-2">personal calendar</span>
            </span>
            <span class="cursor-pointer px-2 py-1 hover:bg-gray-800 hover:text-gray-300 rounded block mb-5">
                <i class="ri-group-line"></i>
                <span class="mx-2">friends</span>
            </span>
            <span class="cursor-pointer px-2 py-1 hover:bg-gray-800 hover:text-gray-300 rounded block mb-5">
                <i class="ri-account-box-line"></i>
                <span class="mx-2">account</span>
            </span>
            <span class="cursor-pointer px-2 py-1 hover:bg-gray-800 hover:text-gray-300 rounded block mb-5">
                <i class="ri-settings-4-line"></i>
                <span class="mx-2">settings</span>
            </span>
            

                
            </div>
        </div>
    </div>
</div>